{% extends "base.html.twig" %}

{% block title %}Games{% endblock %}

{% block body %}
    {% for game in games %}
        {% if is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('app_games_game', {gameSlug: game.slug}) }}">
        {% else %}
            <a href="{{ path('app_login') }}">
        {% endif %}
            <img src="{{ asset(game.picture) }}"/>
            <h3>{{ game.name }}</h3>
        </a>
    {% else %}
        <h1>No games have been found.</h1>
    {% endfor %}
{% endblock %}

