{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
    {% for user in users %}
            {<img src="{{ asset(user.picture) }}"/>
            <h3>{{ user.name }}</h3>
            <form action="" method="post">
                <button name="requested_friend" value="{{ user.name }}">
                    + add friend
                </button>
            </form>
    {% else %}
        <h1>No users have been found.</h1>
    {% endfor %}
{% endblock %}
